body {
    font-family: 'Open Sans';
}

.fab-container {
    /* Positioning */
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 16px;
    bottom: 16px;
    right: 16px;
}

.sets {
    display: flex;
    flex-direction: column;
    background: blue;
}

.sets .set {
    padding: 8px;
    background: red;
}

.damage-effect {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    /* This makes sure the red effect doesn't interfere with any interactivity */
    background: red;
    /* Full red background */
    opacity: 0;
    /* Initially, we want this to be transparent */
    transition: opacity 0.15s ease-out;
    /* A smooth fade-out transition */
    z-index: 9999;
    /* Making sure the effect appears on top of other content */

    /* Apply a radial gradient mask */
    -webkit-mask: radial-gradient(ellipse at center, transparent 40%, black 99.9%);
    mask: radial-gradient(ellipse at center, transparent 40%, black 99.9%);
}

.splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #caa6f6;
    transition: all 1s ease-out;
}

.mobile-only {
    display: none;
    /* By default, it won't show */
}

.non-mobile {
    display: block;
}

/* Assuming mobile is screen width up to 768px */
@media (max-width: 768px) {
    .mobile-only {
        display: block;
        /* Show on mobile */
    }

    .non-mobile {
        display: none;
    }
}